.container {
  padding: 0 2rem;

  .hr {
    margin: 2rem auto 0;
    border: none;
    height: 1px;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.2),
      transparent
    );
    width: 80%;
  }

  .post {
    max-width: 720px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 14rem;
    margin-bottom: 4rem;

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.8rem;
      color: rgba(255, 255, 255, 0.87);
    }

    ul {
      line-height: 2rem;
    }

    & img {
      max-width: 100%;
      height: auto;
      border-radius: 0.5rem; /* optional for rounded corners */
    }

    & a {
      text-decoration: none;
      color: rgb(227, 231, 0);

      &:hover {
        color: rgb(253, 163, 52); /* orange for hover */
        text-decoration: underline;
      }
      &:visited {
        color: rgb(180, 180, 80);
      }

      &:visited:hover {
        color: rgb(253, 163, 52);
      }
    }

    & p {
      font-size: 1.15rem;
      line-height: 2rem;
      color: rgba(255, 255, 255, 0.87);
    }
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 95vw;

    .post {
      margin-left: 5rem;

      & p {
        font-size: 1.25rem;
        line-height: 2.4rem;
      }
    }
  }
}
@media (max-width: 600px) {
  .container {
    margin-top: 1rem;

    .post {
      margin-left: 0rem;
      margin-bottom: 2rem;
      padding: 0 0.5rem;

      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1.5rem;
      }

      ul {
        line-height: 2rem;
      }

      p {
        font-size: 1.05rem;
        line-height: 1.8rem;
      }
    }
  }
}
