.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: x-large;
}

.admin {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
  color: #e2e8f0;
  display: flex;
  justify-content: center;
}

.select {
  appearance: none;
  background-color: #055735;
  color: #f9fafb;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 0.6rem 1rem;
  border: 1px solid #374151;
  border-radius: 0.6rem;
  width: 10rem;
  cursor: pointer;
  transition: all 0.2s ease;
  background-image: linear-gradient(45deg, transparent 50%, #9ca3af 50%),
    linear-gradient(135deg, #9ca3af 50%, transparent 50%);
  background-position: calc(100% - 15px) calc(1rem + 2px),
    calc(100% - 10px) calc(1rem + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

.select:hover {
  border-color: #e8f163;
}

.select:focus {
  border-color: #e8f163;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.25);
}

.option {
  background-color: #12687e;
  color: #f9fafb;
  font-weight: 500;
}

@media (max-width: 900px) {
  .header {
    font-size: large;
  }
}
@media (max-width: 600px) {
  .header {
    align-items: center;
    font-size: medium;
    gap: 6em;
  }
  .nav {
    margin-top: 0.5rem;
  }
}
