.highlightBlog {
  max-width: 50rem;
  display: flex;
  gap: 1rem;
}

.highlightBlog  img {
  border-radius: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info > * {
  margin: 0;
}

.img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 20px;
}

@media (max-width: 900px) {
  .highlightBlog {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .highlightBlog > img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}
@media (max-width: 600px) {
  .highlightBlog > img {
    max-width: 100%;
  }
  .info {
    padding: 0 1rem;
    gap: 1.2rem;
  }
  .info > h1 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }
}
